<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Menu Example</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        @Html.MvcSiteMap().Menu("BootstrapMenuHelperModel")
    </div>
    <div class="container body-content">
        @Html.MvcSiteMap().SiteMapPath()

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Menu Spike</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
